body {
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard",
        "ChalkboardSE-Regular", sans-serif;
    margin: 0px 0px 1px 0px;
    /* the extra 1px allows the iOS inner/outer check to work */
    background: #000;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect (0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}