name: Build Typst document

on: [push, pull_request]

jobs:
  build_typst_documents:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Typst
        uses: lvignoli/typst-action@main
        with:
          source_file: |
            Team_Selection_Project_Deliverable_#1/main.typ

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: |
            Team_Selection_Project_Deliverable_#1/main.pdf
          
